@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "barlow", sans-serif !important;
}

html {
  scroll-behavior: smooth;
}

button {
  font-family: "barlow", sans-serif !important;
}

.z-3 {
  z-index: 3;
}

.fade-image {
  background: linear-gradient(to left, transparent 50%, rgba(255, 255, 255));
}

.no-tap-highlight {
  -webkit-tap-highlight-color: transparent;
}
